server:
  port: 8084

spring:
  application:
    name: "catalog"
  datasource:
    url: jdbc:mysql://localhost:3307/catalogdb
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  sql:
    init:
      mode: always
  autoconfigure:
    exclude: org.springframework.boot.actuate.autoconfigure.metrics.data.RepositoryMetricsAutoConfiguration

  config:
    import: "optional:configserver:http://config-server:8071/"

management:
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

## build with:  mvn compile jib:build
info:
  app:
    name: "Users"
    description: "Users App"
    version: "1.0.0"

## create db: docker run -p 3307:3306 --name catalogdb -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=catalogdb -d mysql