services:
  usersdb:
    image: mysql
    container_name: usersdb
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 10s
      retries: 10
      interval: 10s
      start_period: 10s
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: userdb
    extends:
      file: common-config.yml
      service: network-deploy-service

  teamsdb:
    image: mysql
    container_name: teamsdb
    ports:
      - 3308:3306
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 10s
      retries: 10
      interval: 10s
      start_period: 10s
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: teamsdb
    extends:
      file: common-config.yml
      service: network-deploy-service

  config-server:
    image: "mykyta2/config-server:s1"
    container_name: config-server-ms
    ports:
      - "8071:8071"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8071/actuator/health/readiness"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    depends_on:
      usersdb:
        condition: service_healthy
      teamsdb:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-base-config

  eurekaserver:
    image: "mykyta2/eureka-server:s1"
    container_name: eureka-server-ms
    ports:
      - "8070:8070"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8070/actuator/health/readiness" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    depends_on:
      usersdb:
        condition: service_healthy
      teamsdb:
        condition: service_healthy
      config-server:
        condition: service_healthy
    extends:
      file: common-config.yml
      service: microservice-configserver-config
    environment:
      SPRING_APPLICATION_NAME: "eurekaserver"

  teams:
    image: "mykyta2/teams:s1"
    container_name: teams-ms
    ports:
      - "8081:8081"
    extends:
      file: common-config.yml
      service: microservice-eureka-config
    depends_on:
      config-server:
        condition: service_healthy
      eurekaserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "teams"
      SPRING_DATASOURCE_URL: "jdbc:mysql://teamsdb:3306/teamsdb"

  users:
    image: "mykyta2/users:s1"
    container_name: users-ms
    ports:
      - "8083:8083"
    extends:
      file: common-config.yml
      service: microservice-eureka-config
    depends_on:
      config-server:
        condition: service_healthy
      eurekaserver:
        condition: service_healthy
    environment:
      SPRING_APPLICATION_NAME: "users"
      SPRING_DATASOURCE_URL: "jdbc:mysql://usersdb:3306/userdb"

networks:
  mykyta2:
    driver: "bridge"